@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'rubik', sans-serif;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.logo-marca{
    height: 5.5rem;
}

.imagen-marca{
    height: 9rem;
}

.marcas{
    background-color: rgb(238, 225, 225);
    display: flex;
    justify-content: space-between;
}

/* carrito*/
.carrito-productos {
display: flex;
flex-direction: column;
gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}
